.card {
    border-radius: 10px;
}

.card-header {
    border-radius: 10px 10px 0 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.form-label {
    font-weight: bold;
}

.needs-validation .form-control:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border-color: #80bdff;
}
