@using Campus_Events.ViewModels

@model RegisterViewModel;

@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Register</h2>
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Firstname" class="form-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Lastname" class="form-label"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="submit" value="Register" class="btn btn-success w-100 p-2" />
            <p class="text-center mt-2">
                Already have an account? <a asp-controller="Authentication" asp-action="Login" class="text-decoration-none">Login</a>
            </p>
        </form>
    </div>
</div>