@{
    Layout = "_Layout";
    ViewData["Title"] = "CampusEvent - Password Forgotten";
}

<div class="alert alert-primary" role="alert">
    If you have an account, an E-Mail to reset the password was sent.
    Please check your mails.
</div>